.page {
  background-color: #040d21;
  color: #fff;
}
.top {
  position: relative;
  overflow: hidden;
}
.topContent {
  width: 1024px;
  margin: 0 auto;
}
.gobla {
  padding-top: 80px;
  text-align: right;
}
.webName {
  font-size: 72px;
  cursor: pointer;
}
.webDesc {
  font-size: 24px;
  cursor: pointer;
  color: #8193b2;
  margin-bottom: 24px;
}
.header {
  height: 72px;
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
}
.headerContent {
  width: 1024px;
  margin: 0 auto;
  height: 64px;
}
.center {
  font-size: 32px;
  text-align: center;
  line-height: 200px;
  cursor: pointer;
}
.bgPoint {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 200%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.person {
  margin-top: -17%;
  position: relative;
}
.personWhite {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 75%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
